{% extends "partial/base.html" %}

{% block content %}

<main>
    <h1>Olá {% if current_user.is_authenticated %} {{ current_user.username }} {% else %} Visitante {% endif %} &#x1F44B;</h1> 
    <p>
        Este é um projeto de código aberto e de fácil utilização, criado com o objetivo de te ajudar a organizar suas tarefas.
    </p>
    <p>
        Fique à vontade para conhecer e ajudar a melhorar este projeto. Todo o código está disponível no <a href="https://github.com/QueirozT/Lista-de-tarefas" target="_blank">Github</a>.
    </p>
    <p>
        Espero que goste e que consiga organizar seus objetivos com mais facilidade.
    </p>
</main>

{% endblock %}