{% extends "partial/base.html" %}

{% block content %}
<main>
    <form id="tela-login" action="" method="post">
        {{ form.hidden_tag() }}
        <h1>Login</h1>
        <!-- <input type="email" name="email" placeholder="E-mail" required=""> -->
        {{ form.email(size=120, placeholder="E-mail") }}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <!-- <input type="password" name="password" placeholder="Senha" required=""> -->
        {{ form.password(size=32, placeholder="Senha") }}
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <!-- <input id="submit" type="submit" value="Entrar"> -->
        {{ form.submit(id='submit') }}
    </form>
</main>
{% endblock %}