{% extends "partial/base.html" %}

{% block content %}
<main>
    <form id="tela-login" action="" method="post" >
        <h1>Editar Perfil</h1>
        <input type="text" name="username" placeholder="Apelido">
        <input type="email" name="email" placeholder="E-mail" required="">
        <input type="password" name="password" placeholder="Nova Senha" required="">
        <input type="password" name="password2" placeholder="Repetir a Senha" required="">
        <input id="submit" type="submit" value="Atualizar">
    </form>
</main>
{% endblock %}