{% extends "partial/base.html" %}

{% block content %}
<main>
    <form id="tela-login" action="" method="post" >
        {{ form.hidden_tag() }}
        <h1>Registrar</h1>
        {{ form.username(size=32, placeholder="Usuário") }}
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.email(size=120, placeholder="E-mail") }}
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.password(size=32, placeholder="Senha") }}
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.password2(size=32, placeholder="Repetir a senha") }}
        {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit(id='submit') }}
    </form>
</main>
{% endblock %}