body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
	filter: drop-shadow(0 0 10px white);
}

.template-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 5em;
    min-height: 100vh;
    grid-template-areas: "header header header"
                         "main main main"
                         "main main main"
                         "footer footer footer";

}

main {
	grid-area: main;
	
	display: flex;
	flex-direction: column;
	width: 90vw;
	
	align-items: center;
}

main > h1 {
	width: fit-content;
	height: fit-content;
	padding: 60px;
	
	color: white;
	font-size: 3rem;
	text-align: justify;
}

main > p {
	width: fit-content;
	height: fit-content;
	
	margin-top: 40px;
	color: white;
	font-size: 1.2rem;
	text-align: justify;
}

main > p > a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
}

main > p > a:hover {
	text-decoration: underline;
	background-color: white;
	color: black;
}


@media screen and (max-width: 600px) {
	main {
		width: 95vw;
	}
	main > h1 {
		font-size: 2rem;
		padding: 40px;
	}
	main > p, main > p > a {
		font-size: 1rem;
	}
}

@media screen and (max-width: 400px) {
	main {
		width: 98vw;
	}
	main > h1 {
		font-size: 1.8rem;
	}
	main > p, main > p > a {
		margin-top: 10px;
		font-size: 0.8rem;
	}
}

.snow {
	position: absolute;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
}

.snow:nth-child(1) {
	opacity: 0.2357;
	transform: translate(3.534vw, -10px) scale(0.6185);
	animation: fall-1 27s -22s linear infinite;
}

@keyframes fall-1 {
	49.315% {
		transform: translate(-6.3755vw, 49.315vh) scale(0.6185);
	}

	to {
		transform: translate(-1.42075vw, 100vh) scale(0.6185);
	}
}

.snow:nth-child(2) {
	opacity: 0.8608;
	transform: translate(46.2671vw, -10px) scale(0.1179);
	animation: fall-2 14s -20s linear infinite;
}

@keyframes fall-2 {
	40.541% {
		transform: translate(48.4758vw, 40.541vh) scale(0.1179);
	}

	to {
		transform: translate(47.37145vw, 100vh) scale(0.1179);
	}
}

.snow:nth-child(3) {
	opacity: 0.9516;
	transform: translate(83.9778vw, -10px) scale(0.8642);
	animation: fall-3 28s -13s linear infinite;
}

@keyframes fall-3 {
	39.576% {
		transform: translate(89.7675vw, 39.576vh) scale(0.8642);
	}

	to {
		transform: translate(86.87265vw, 100vh) scale(0.8642);
	}
}

.snow:nth-child(4) {
	opacity: 0.4904;
	transform: translate(23.0106vw, -10px) scale(0.7653);
	animation: fall-4 24s -11s linear infinite;
}

@keyframes fall-4 {
	46.605% {
		transform: translate(13.5168vw, 46.605vh) scale(0.7653);
	}

	to {
		transform: translate(18.2637vw, 100vh) scale(0.7653);
	}
}

.snow:nth-child(5) {
	opacity: 0.6528;
	transform: translate(42.2829vw, -10px) scale(0.279);
	animation: fall-5 25s -13s linear infinite;
}

@keyframes fall-5 {
	51.235% {
		transform: translate(42.8264vw, 51.235vh) scale(0.279);
	}

	to {
		transform: translate(42.55465vw, 100vh) scale(0.279);
	}
}

.snow:nth-child(6) {
	opacity: 0.6348;
	transform: translate(11.0862vw, -10px) scale(0.3799);
	animation: fall-6 29s -10s linear infinite;
}

@keyframes fall-6 {
	64.102% {
		transform: translate(19.9494vw, 64.102vh) scale(0.3799);
	}

	to {
		transform: translate(15.5178vw, 100vh) scale(0.3799);
	}
}

.snow:nth-child(7) {
	opacity: 0.643;
	transform: translate(49.1001vw, -10px) scale(0.581);
	animation: fall-7 19s -24s linear infinite;
}

@keyframes fall-7 {
	43.403% {
		transform: translate(56.4572vw, 43.403vh) scale(0.581);
	}

	to {
		transform: translate(52.77865vw, 100vh) scale(0.581);
	}
}

.snow:nth-child(8) {
	opacity: 0.8954;
	transform: translate(37.835vw, -10px) scale(0.5964);
	animation: fall-8 12s -2s linear infinite;
}

@keyframes fall-8 {
	69.6% {
		transform: translate(28.6439vw, 69.6vh) scale(0.5964);
	}

	to {
		transform: translate(33.23945vw, 100vh) scale(0.5964);
	}
}

.snow:nth-child(9) {
	opacity: 0.0868;
	transform: translate(39.4086vw, -10px) scale(0.4536);
	animation: fall-9 15s -30s linear infinite;
}

@keyframes fall-9 {
	52.258% {
		transform: translate(36.6161vw, 52.258vh) scale(0.4536);
	}

	to {
		transform: translate(38.01235vw, 100vh) scale(0.4536);
	}
}

.snow:nth-child(10) {
	opacity: 0.0761;
	transform: translate(72.1922vw, -10px) scale(0.8209);
	animation: fall-10 12s -4s linear infinite;
}

@keyframes fall-10 {
	33.459% {
		transform: translate(64.9072vw, 33.459vh) scale(0.8209);
	}

	to {
		transform: translate(68.5497vw, 100vh) scale(0.8209);
	}
}

.snow:nth-child(11) {
	opacity: 0.3093;
	transform: translate(50.3218vw, -10px) scale(0.4008);
	animation: fall-11 19s -15s linear infinite;
}

@keyframes fall-11 {
	76.57% {
		transform: translate(58.6604vw, 76.57vh) scale(0.4008);
	}

	to {
		transform: translate(54.4911vw, 100vh) scale(0.4008);
	}
}

.snow:nth-child(12) {
	opacity: 0.4865;
	transform: translate(20.6358vw, -10px) scale(0.8817);
	animation: fall-12 23s -7s linear infinite;
}

@keyframes fall-12 {
	35.064% {
		transform: translate(27.9217vw, 35.064vh) scale(0.8817);
	}

	to {
		transform: translate(24.27875vw, 100vh) scale(0.8817);
	}
}

.snow:nth-child(13) {
	opacity: 0.9399;
	transform: translate(83.9104vw, -10px) scale(0.7202);
	animation: fall-13 19s -27s linear infinite;
}

@keyframes fall-13 {
	69.859% {
		transform: translate(91.3032vw, 69.859vh) scale(0.7202);
	}

	to {
		transform: translate(87.6068vw, 100vh) scale(0.7202);
	}
}

.snow:nth-child(14) {
	opacity: 0.9836;
	transform: translate(12.6328vw, -10px) scale(0.0139);
	animation: fall-14 17s -12s linear infinite;
}

@keyframes fall-14 {
	75.511% {
		transform: translate(7.2856vw, 75.511vh) scale(0.0139);
	}

	to {
		transform: translate(9.9592vw, 100vh) scale(0.0139);
	}
}

.snow:nth-child(15) {
	opacity: 0.5929;
	transform: translate(87.1099vw, -10px) scale(0.5048);
	animation: fall-15 18s -12s linear infinite;
}

@keyframes fall-15 {
	66.916% {
		transform: translate(94.7354vw, 66.916vh) scale(0.5048);
	}

	to {
		transform: translate(90.92265vw, 100vh) scale(0.5048);
	}
}

.snow:nth-child(16) {
	opacity: 0.7971;
	transform: translate(54.2061vw, -10px) scale(0.2355);
	animation: fall-16 24s -20s linear infinite;
}

@keyframes fall-16 {
	77.511% {
		transform: translate(57.7651vw, 77.511vh) scale(0.2355);
	}

	to {
		transform: translate(55.9856vw, 100vh) scale(0.2355);
	}
}

.snow:nth-child(17) {
	opacity: 0.4534;
	transform: translate(28.6682vw, -10px) scale(0.233);
	animation: fall-17 16s -8s linear infinite;
}

@keyframes fall-17 {
	75.746% {
		transform: translate(32.5979vw, 75.746vh) scale(0.233);
	}

	to {
		transform: translate(30.63305vw, 100vh) scale(0.233);
	}
}

.snow:nth-child(18) {
	opacity: 0.1783;
	transform: translate(72.1404vw, -10px) scale(0.0472);
	animation: fall-18 18s -26s linear infinite;
}

@keyframes fall-18 {
	66.472% {
		transform: translate(66.1303vw, 66.472vh) scale(0.0472);
	}

	to {
		transform: translate(69.13535vw, 100vh) scale(0.0472);
	}
}

.snow:nth-child(19) {
	opacity: 0.8523;
	transform: translate(50.0342vw, -10px) scale(0.724);
	animation: fall-19 28s -15s linear infinite;
}

@keyframes fall-19 {
	66.901% {
		transform: translate(51.539vw, 66.901vh) scale(0.724);
	}

	to {
		transform: translate(50.7866vw, 100vh) scale(0.724);
	}
}

.snow:nth-child(20) {
	opacity: 0.1241;
	transform: translate(32.6096vw, -10px) scale(0.892);
	animation: fall-20 22s -29s linear infinite;
}

@keyframes fall-20 {
	51.129% {
		transform: translate(40.9492vw, 51.129vh) scale(0.892);
	}

	to {
		transform: translate(36.7794vw, 100vh) scale(0.892);
	}
}

.snow:nth-child(21) {
	opacity: 0.8015;
	transform: translate(71.9279vw, -10px) scale(0.1737);
	animation: fall-21 11s -30s linear infinite;
}

@keyframes fall-21 {
	33.768% {
		transform: translate(62.3833vw, 33.768vh) scale(0.1737);
	}

	to {
		transform: translate(67.1556vw, 100vh) scale(0.1737);
	}
}

.snow:nth-child(22) {
	opacity: 0.7156;
	transform: translate(28.7031vw, -10px) scale(0.3891);
	animation: fall-22 25s -24s linear infinite;
}

@keyframes fall-22 {
	78.495% {
		transform: translate(19.5743vw, 78.495vh) scale(0.3891);
	}

	to {
		transform: translate(24.1387vw, 100vh) scale(0.3891);
	}
}

.snow:nth-child(23) {
	opacity: 0.8997;
	transform: translate(7.2169vw, -10px) scale(0.8843);
	animation: fall-23 17s -29s linear infinite;
}

@keyframes fall-23 {
	33.978% {
		transform: translate(7.2864vw, 33.978vh) scale(0.8843);
	}

	to {
		transform: translate(7.25165vw, 100vh) scale(0.8843);
	}
}

.snow:nth-child(24) {
	opacity: 0.277;
	transform: translate(50.9685vw, -10px) scale(0.2438);
	animation: fall-24 12s -10s linear infinite;
}

@keyframes fall-24 {
	36.838% {
		transform: translate(43.2023vw, 36.838vh) scale(0.2438);
	}

	to {
		transform: translate(47.0854vw, 100vh) scale(0.2438);
	}
}

.snow:nth-child(25) {
	opacity: 0.7745;
	transform: translate(48.4769vw, -10px) scale(0.0513);
	animation: fall-25 27s -30s linear infinite;
}

@keyframes fall-25 {
	73.12% {
		transform: translate(49.0012vw, 73.12vh) scale(0.0513);
	}

	to {
		transform: translate(48.73905vw, 100vh) scale(0.0513);
	}
}

.snow:nth-child(26) {
	opacity: 0.0187;
	transform: translate(25.2468vw, -10px) scale(0.4894);
	animation: fall-26 17s -10s linear infinite;
}

@keyframes fall-26 {
	76.041% {
		transform: translate(24.7855vw, 76.041vh) scale(0.4894);
	}

	to {
		transform: translate(25.01615vw, 100vh) scale(0.4894);
	}
}

.snow:nth-child(27) {
	opacity: 0.8826;
	transform: translate(7.9537vw, -10px) scale(0.0249);
	animation: fall-27 24s -5s linear infinite;
}

@keyframes fall-27 {
	68.289% {
		transform: translate(4.5315vw, 68.289vh) scale(0.0249);
	}

	to {
		transform: translate(6.2426vw, 100vh) scale(0.0249);
	}
}

.snow:nth-child(28) {
	opacity: 0.4944;
	transform: translate(33.252vw, -10px) scale(0.8629);
	animation: fall-28 17s -28s linear infinite;
}

@keyframes fall-28 {
	44.682% {
		transform: translate(43.0509vw, 44.682vh) scale(0.8629);
	}

	to {
		transform: translate(38.15145vw, 100vh) scale(0.8629);
	}
}

.snow:nth-child(29) {
	opacity: 0.6617;
	transform: translate(15.356vw, -10px) scale(0.1608);
	animation: fall-29 20s -16s linear infinite;
}

@keyframes fall-29 {
	54.944% {
		transform: translate(21.0963vw, 54.944vh) scale(0.1608);
	}

	to {
		transform: translate(18.22615vw, 100vh) scale(0.1608);
	}
}

.snow:nth-child(30) {
	opacity: 0.3916;
	transform: translate(26.9917vw, -10px) scale(0.2695);
	animation: fall-30 20s -3s linear infinite;
}

@keyframes fall-30 {
	56.489% {
		transform: translate(18.5331vw, 56.489vh) scale(0.2695);
	}

	to {
		transform: translate(22.7624vw, 100vh) scale(0.2695);
	}
}

.snow:nth-child(31) {
	opacity: 0.5878;
	transform: translate(44.3105vw, -10px) scale(0.8125);
	animation: fall-31 24s -18s linear infinite;
}

@keyframes fall-31 {
	75.992% {
		transform: translate(51.862vw, 75.992vh) scale(0.8125);
	}

	to {
		transform: translate(48.08625vw, 100vh) scale(0.8125);
	}
}

.snow:nth-child(32) {
	opacity: 0.2827;
	transform: translate(58.2399vw, -10px) scale(0.9879);
	animation: fall-32 30s -3s linear infinite;
}

@keyframes fall-32 {
	47.846% {
		transform: translate(62.8824vw, 47.846vh) scale(0.9879);
	}

	to {
		transform: translate(60.56115vw, 100vh) scale(0.9879);
	}
}

.snow:nth-child(33) {
	opacity: 0.9538;
	transform: translate(3.2439vw, -10px) scale(0.6344);
	animation: fall-33 29s -19s linear infinite;
}

@keyframes fall-33 {
	54.764% {
		transform: translate(8.1222vw, 54.764vh) scale(0.6344);
	}

	to {
		transform: translate(5.68305vw, 100vh) scale(0.6344);
	}
}

.snow:nth-child(34) {
	opacity: 0.5686;
	transform: translate(96.7492vw, -10px) scale(0.2307);
	animation: fall-34 22s -7s linear infinite;
}

@keyframes fall-34 {
	50.525% {
		transform: translate(90.2784vw, 50.525vh) scale(0.2307);
	}

	to {
		transform: translate(93.5138vw, 100vh) scale(0.2307);
	}
}

.snow:nth-child(35) {
	opacity: 0.5797;
	transform: translate(52.035vw, -10px) scale(0.3399);
	animation: fall-35 21s -24s linear infinite;
}

@keyframes fall-35 {
	69.208% {
		transform: translate(57.7906vw, 69.208vh) scale(0.3399);
	}

	to {
		transform: translate(54.9128vw, 100vh) scale(0.3399);
	}
}

.snow:nth-child(36) {
	opacity: 0.8949;
	transform: translate(23.9312vw, -10px) scale(0.6031);
	animation: fall-36 29s -27s linear infinite;
}

@keyframes fall-36 {
	62.211% {
		transform: translate(18.0114vw, 62.211vh) scale(0.6031);
	}

	to {
		transform: translate(20.9713vw, 100vh) scale(0.6031);
	}
}

.snow:nth-child(37) {
	opacity: 0.7388;
	transform: translate(73.2905vw, -10px) scale(0.8554);
	animation: fall-37 15s -7s linear infinite;
}

@keyframes fall-37 {
	50.279% {
		transform: translate(75.5857vw, 50.279vh) scale(0.8554);
	}

	to {
		transform: translate(74.4381vw, 100vh) scale(0.8554);
	}
}

.snow:nth-child(38) {
	opacity: 0.2532;
	transform: translate(49.1525vw, -10px) scale(0.8882);
	animation: fall-38 13s -21s linear infinite;
}

@keyframes fall-38 {
	70.265% {
		transform: translate(49.9206vw, 70.265vh) scale(0.8882);
	}

	to {
		transform: translate(49.53655vw, 100vh) scale(0.8882);
	}
}

.snow:nth-child(39) {
	opacity: 0.4033;
	transform: translate(99.2217vw, -10px) scale(0.569);
	animation: fall-39 11s -6s linear infinite;
}

@keyframes fall-39 {
	69.262% {
		transform: translate(101.7654vw, 69.262vh) scale(0.569);
	}

	to {
		transform: translate(100.49355vw, 100vh) scale(0.569);
	}
}

.snow:nth-child(40) {
	opacity: 0.3192;
	transform: translate(1.4407vw, -10px) scale(0.6329);
	animation: fall-40 27s -2s linear infinite;
}

@keyframes fall-40 {
	44.413% {
		transform: translate(4.2802vw, 44.413vh) scale(0.6329);
	}

	to {
		transform: translate(2.86045vw, 100vh) scale(0.6329);
	}
}

.snow:nth-child(41) {
	opacity: 0.0697;
	transform: translate(24.3459vw, -10px) scale(0.1092);
	animation: fall-41 25s -6s linear infinite;
}

@keyframes fall-41 {
	37.312% {
		transform: translate(24.9379vw, 37.312vh) scale(0.1092);
	}

	to {
		transform: translate(24.6419vw, 100vh) scale(0.1092);
	}
}

.snow:nth-child(42) {
	opacity: 0.7788;
	transform: translate(62.0075vw, -10px) scale(0.7864);
	animation: fall-42 24s -1s linear infinite;
}

@keyframes fall-42 {
	66.917% {
		transform: translate(59.8824vw, 66.917vh) scale(0.7864);
	}

	to {
		transform: translate(60.94495vw, 100vh) scale(0.7864);
	}
}

.snow:nth-child(43) {
	opacity: 0.2811;
	transform: translate(8.6431vw, -10px) scale(0.6851);
	animation: fall-43 11s -20s linear infinite;
}

@keyframes fall-43 {
	40.952% {
		transform: translate(11.9131vw, 40.952vh) scale(0.6851);
	}

	to {
		transform: translate(10.2781vw, 100vh) scale(0.6851);
	}
}

.snow:nth-child(44) {
	opacity: 0.8964;
	transform: translate(75.4297vw, -10px) scale(0.9627);
	animation: fall-44 19s -6s linear infinite;
}

@keyframes fall-44 {
	56.187% {
		transform: translate(78.5982vw, 56.187vh) scale(0.9627);
	}

	to {
		transform: translate(77.01395vw, 100vh) scale(0.9627);
	}
}

.snow:nth-child(45) {
	opacity: 0.3812;
	transform: translate(44.1587vw, -10px) scale(0.04);
	animation: fall-45 21s -3s linear infinite;
}

@keyframes fall-45 {
	49.488% {
		transform: translate(47.1442vw, 49.488vh) scale(0.04);
	}

	to {
		transform: translate(45.65145vw, 100vh) scale(0.04);
	}
}

.snow:nth-child(46) {
	opacity: 0.0888;
	transform: translate(68.4476vw, -10px) scale(0.0366);
	animation: fall-46 18s -20s linear infinite;
}

@keyframes fall-46 {
	60.646% {
		transform: translate(67.4898vw, 60.646vh) scale(0.0366);
	}

	to {
		transform: translate(67.9687vw, 100vh) scale(0.0366);
	}
}

.snow:nth-child(47) {
	opacity: 0.298;
	transform: translate(68.1592vw, -10px) scale(0.7124);
	animation: fall-47 13s -26s linear infinite;
}

@keyframes fall-47 {
	54.351% {
		transform: translate(76.8367vw, 54.351vh) scale(0.7124);
	}

	to {
		transform: translate(72.49795vw, 100vh) scale(0.7124);
	}
}

.snow:nth-child(48) {
	opacity: 0.6812;
	transform: translate(6.7217vw, -10px) scale(0.3415);
	animation: fall-48 21s -26s linear infinite;
}

@keyframes fall-48 {
	73.25% {
		transform: translate(-1.6421vw, 73.25vh) scale(0.3415);
	}

	to {
		transform: translate(2.5398vw, 100vh) scale(0.3415);
	}
}

.snow:nth-child(49) {
	opacity: 0.7649;
	transform: translate(89.3968vw, -10px) scale(0.1536);
	animation: fall-49 30s -14s linear infinite;
}

@keyframes fall-49 {
	77.314% {
		transform: translate(94.7794vw, 77.314vh) scale(0.1536);
	}

	to {
		transform: translate(92.0881vw, 100vh) scale(0.1536);
	}
}

.snow:nth-child(50) {
	opacity: 0.0072;
	transform: translate(33.8037vw, -10px) scale(0.6232);
	animation: fall-50 20s -1s linear infinite;
}

@keyframes fall-50 {
	45.677% {
		transform: translate(32.8029vw, 45.677vh) scale(0.6232);
	}

	to {
		transform: translate(33.3033vw, 100vh) scale(0.6232);
	}
}

.snow:nth-child(51) {
	opacity: 0.0531;
	transform: translate(59.0676vw, -10px) scale(0.0824);
	animation: fall-51 11s -4s linear infinite;
}

@keyframes fall-51 {
	37.354% {
		transform: translate(67.7263vw, 37.354vh) scale(0.0824);
	}

	to {
		transform: translate(63.39695vw, 100vh) scale(0.0824);
	}
}

.snow:nth-child(52) {
	opacity: 0.4727;
	transform: translate(30.756vw, -10px) scale(0.0224);
	animation: fall-52 26s -27s linear infinite;
}

@keyframes fall-52 {
	63.193% {
		transform: translate(21.7403vw, 63.193vh) scale(0.0224);
	}

	to {
		transform: translate(26.24815vw, 100vh) scale(0.0224);
	}
}
