<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icone.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <style>
    main {
        margin-left: auto;
        margin-right: auto;
    }
    .buttons {
        display: flex;
        flex-direction: row-reverse;
        margin: 5px;
    }
    .buttons > button {
        margin: 5px;
    }
    </style>

    <title>Lista de Tarefas {% if title %} - {{ title }}{% endif %}</title>
</head>
<body>
    <div class="template-grid">
        <header>
            
            {% include 'partial/_nav.html' %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </header>

        {% block content %}
        {% endblock %}

        {% if request.endpoint == 'tarefas.index' %}
        <footer>
            <p>
                Desenvolvido por <a target="_blank" href="https://github.com/QueirozT">Tiago</a>
            </p>
        </footer>
        {% endif %}
    </div>

    {% if request.endpoint == 'tarefas.index' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endif %}
</body>
</html>